@font-face {
    font-family: 'AmericaTypewriterRegular';
    src: url('../fonts/American_Typewriter_Regular/American_Typewriter_Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Cowboy';
    src: url('../fonts/Cowboys.otf') format('truetype');
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AmericaTypewriterRegular, sans-serif;
}

img {
    max-width: unset !important;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.game-frame {
    background: url(../img/game-frame.png);
    background-size: 100% 100%;
    z-index: 1005;
}

.navbar {
    z-index: 1006;
}

.game-background {
    background: url(../img/Bg\ sky.svg);
}

.game-background-night {
    background: url(../img/bg/bg\ sky_night.png);
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: absolute;
    height: 400vh; /* Increased height for demonstration */
    background-position-y: 100%; /* Initial position at the bottom */
    animation: moveBackground 12s ease-in-out infinite; /* Animation for movement */
    background-repeat: repeat-y;
    background-size: 100% 400%;
}

@keyframes moveBackground {
    0% {
        background-position-y: 100%; /* Start position */
    }
    50% {
        background-position-y: 30%; /* Mid position (top) */
    }
    100% {
        background-position-y: 100%; /* End position (back to bottom) */
    }
}

.sun {
    animation: moveSun 12s linear infinite;
}

@keyframes moveSun {
    0% {
        left: 0;
        bottom: -10vh;
    } /* Start position */
    50% {
        left: 60vw;
        bottom: 25vh;
    } /* Mid position */
    100% {
        left: 100vw;
        bottom: -10vh;
    } /* End position (bottom of the screen) */
}

.world {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw !important;
}

.start-screen {
    z-index: 1004;
}

.hidden {
    display: none;
}

.score {
    z-index: 1003;
}

.ground {
    --left: 0;
    position: absolute;
    width: 350%;
    bottom: 5%;
    left: calc(var(--left) * 1%);
    z-index: 1000;
}

.info {
    z-index: 1006;
}

.sand {
    --left: 0;
    position: absolute;
    width: 350%;
    bottom: 6vh;
    left: calc(var(--left) * 1%);
    z-index: 100;
}

.dino {
    --bottom: 4%;
    position: absolute;
    left: 8%;
    height: 230px;
    width: 230px;
    bottom: calc(var(--bottom) * 1% + 8vh);
    z-index: 1002;
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    bottom: 8vh;
    height: 150px;
    z-index: 1001;
    min-height: 100px;
    width: 120px;
    padding: 0 20px;
}

.main-button {
    background: url(../img/buy-bg-button.png);
    background-size: 100% 100%;
    padding: 10px 35px;
    position: relative;
    cursor: pointer;
    z-index: 1005;
}

@keyframes blink {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 0.8;
    }
    100% {
        transform: scale3d(1.4, 1.6, 1.4);
        opacity: 0;
    }
}

/* Dialog */

#default-modal {
    z-index: 2007;
}

.info-dialog {
    background-image: url('../img/board\ Infor\ 1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dialog-content {
    font-family: 'Raleway', sans-serif;
}

.result-score {
    z-index: 1008;
}

.thought {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 220px;
    min-height: 40px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thought:before,
.thought:after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}
.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff, -28px -6px 0 -2px #fff,
        -24px 17px 0 -6px #fff, -5px 25px 0 -10px #fff;
}

.jump-button {
    background-color: #4b76eb;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    z-index: 1005;
    color: white;
    border-radius: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 500px) {
    .cactus {
        width: 60px;
        height: 60px;
    }

    .dino {
        height: 120px;
        width: 120px;
    }

    .ground {
        height: 100px;
    }
}
